<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <title>Find a Car</title>
</head>
<body>
    <div class="container">
        <h1>Find a Car or Add a Car!</h1>

        <div class="row">
            <div class="col-sm-6">
                <form action="/output" method="get">
                    <h3>Search for cars</h3><br>
                    <div class="form-group">
                        <label for="price">Enter Maximum Price:</label>
                        <input id="price" name="price" class="form-control" type="number">
                    </div>
                    <div class="form-group">
                        <label for="mileage">Enter Maximum Mileage:</label>
                        <input id="mileage" name="mileage" class="form-control" type="number">
                    </div>
                    <button type="submit" class="btn-success">Submit</button>
                </form>
            </div>

            <div class="col-sm-6">
                <form action="/add_car" method="post">
                    <h3>Add a car</h3><br>
                    <div class="form-group">
                        <label for="set_make_model">Enter Model:</label>
                        <input id="set_make_model" name="set_make_model" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label for="set_price">Enter Price:</label>
                        <input id="set_price" name="set_price" class="form-control" type="number">
                    </div>
                    <div class="form-group">
                        <label for="set_miles">Enter Miles:</label>
                        <input id="set_miles" name="set_miles" class="form-control" type="number">
                    </div>
                    <div class="form-group">
                        <label for="set_style">Enter Style:</label>
                        <input id="set_style" name="set_style" class="form-control" type="text">
                    </div>
                    <button type="submit" class="btn-success">Submit</button>
                </form>
            </div>
            <form action="/delete_car" method="post">
                <button type="submit" class="btn-success">Delete All</button>
            </form>
        </div>
    </div>
</body>
</html>
