
<!DOCTYPE html>
<html>
<head>
    <title>Your Search Results</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <h1>Your Search Results</h1>
    <ul>
        {% for car in search_cars %}
        <li> {{ car.getMakeModel }} </li>
            <ul>
                <li> {{ car.getPrice }} </li>
                <li> {{ car.getMiles }} </li>
                <li> {{ car.getStyle }} </li>
            </ul>
    </ul>
    {% endfor %}
    <p><a href="/">Home</a></p>
</body>
</html>
